<footer class="footer">
  <div class="footer-wrapper">
    <div class="footer-left">
      <a class="footer-logo" href="./index.html" aria-label="Handmade Jewelry">
        <svg width="120" height="52">
          <use href="./img/sprite.svg#logo"></use>
        </svg>
      </a>
      <ul class="footer-social-list">
        <li>
          <a class="footer-social-link" href="#" aria-label="Facebook">
            <svg width="24" height="24">
              <use href="./img/sprite.svg#Facebook"></use>
            </svg>
          </a>
        </li>

        <li>
          <a class="footer-social-link" href="#" aria-label="Instagram">
            <svg width="24" height="24">
              <use href="./img/sprite.svg#Instagram"></use>
            </svg>
          </a>
        </li>

        <li>
          <a class="footer-social-link" href="#" aria-label="X">
            <svg width="24" height="24">
              <use href="./img/sprite.svg#x"></use>
            </svg>
          </a>
        </li>

        <li>
          <a class="footer-social-link" href="#" aria-label="LinkedIn">
            <svg width="24" height="24">
              <use href="./img/sprite.svg#LinkedIn"></use>
            </svg>
          </a>
        </li>

        <li>
          <a class="footer-social-link" href="#" aria-label="YouTube">
            <svg width="24" height="24">
              <use href="./img/sprite.svg#Youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li>
          <a class="footer-nav-link" href="#about">About us</a>
        </li>

        <li>
          <a class="footer-nav-link" href="#benefits">Benefits</a>
        </li>

        <li>
          <a class="footer-nav-link" href="#gallery">Gallery</a>
        </li>

        <li>
          <a class="footer-nav-link" href="#testimonials"> Testimonials </a>
        </li>

        <li>
          <a class="footer-nav-link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="footer-bottom">
    <p class="footer-copy">© 2025 Handmade Jewelry. All rights reserved.</p>
  </div>
</footer>
