<section class="gallery" id="gallery">
    <div class="container">
    <div class="gallery-text">
        <h2 class="gallery-title">Jewelry Showcase</h2>
        <p class="gallery-description">Discover the beauty of our handcrafted jewelry in style.</p>
    </div>
    <ul class="gallery-list">
        <li class="gallery-item left">
            <img src="./img/gallery-1.jpg" srcset="./img/gallery-1.jpg 1x, ./img/gallery-1@2x.jpg 2x" alt="Jewelry Showcase" width="335" height="335" />
            <img src="./img/gallery-2.jpg" srcset="./img/gallery-2.jpg 1x, ./img/gallery-2@2x.jpg 2x" alt="Jewelry Showcase" width="335" height="335" />
        </li>
        <li class="gallery-item right">
            <img src="./img/gallery-3.jpg" srcset="./img/gallery-3.jpg 1x, ./img/gallery-3@2x.jpg 2x" alt="Jewelry Showcase" width="335" height="335" />
            <img src="./img/gallery-4.jpg" srcset="./img/gallery-4.jpg 1x, ./img/gallery-4@2x.jpg 2x" alt="Jewelry Showcase" width="335" height="335" />
        </li>
    </ul>
    </div>
</section>