<header class="header" id="home">
  <div class="container">
    <div class="header-container">
      <a class="logo" href="./index.html">
        <img
          class="logo-img"
          src="./img/logo.svg"
          alt="Handmade Jewelry Logo"
          width="160"
          height="68"
        />
      </a>

      <button class="menu-btn" type="button" aria-label="Open menu">
        <svg class="menu-btn-icon" width="24" height="24">
          <use href="./img/sprite.svg#menu"></use>
        </svg>
      </button>

      <div class="header-desktop-block">
        <nav class="header-nav">
          <ul class="header-nav-list">
            <li class="header-nav-item">
              <a class="header-nav-link" href="#about">About us</a>
            </li>
            <li class="header-nav-item">
              <a class="header-nav-link" href="#benefits">Benefits</a>
            </li>
            <li class="header-nav-item">
              <a class="header-nav-link" href="#gallery">Gallery</a>
            </li>
            <li class="header-nav-item">
              <a class="header-nav-link" href="#testimonials">Testimonials</a>
            </li>
            <li class="header-nav-item">
              <a class="header-nav-link" href="#contacts">Contacts</a>
            </li>
          </ul>
        </nav>
        <a class="header-btn" href="#contacts">Order Now</a>
      </div>
    </div>
  </div>
</header>

<div class="mobile-menu">
  <div class="mobile-menu-header">
    <a class="mobile-menu-logo" href="./index.html">
      <img
        class="mobile-menu-logo-img"
        src="./img/logo.svg"
        alt="Handmade Jewelry Logo"
        width="120"
        height="50"
      />
    </a>
    <button class="mobile-menu-btn" type="button" aria-label="Close menu">
      <svg class="mobile-menu-btn-icon" width="24" height="24">
        <use href="./img/sprite.svg#close"></use>
      </svg>
    </button>
  </div>

  <ul class="mobile-menu-list">
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="#about">About us</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="#benefits">Benefits</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="#gallery">Gallery</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="#testimonials">Testimonials</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="#contacts">Contacts</a>
    </li>
  </ul>

  <a class="mobile-menu-order-btn" href="#contacts">Order Now</a>
</div>
