<header class="header" id="home">
  <div class="container">
    <a class="logo" href="#home">
      <svg class="logo-icon" width="160" height="68">
        <use href="/img/sprite.svg#logo"></use>
      </svg>
    </a>
    <button class="menu-btn" type="button">
      <svg class="menu-btn-icon" width="24" height="24">
        <use href="/img/sprite.svg#burger-menu"></use>
      </svg>
    </button>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link current" href="#about">About Us</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#benefits">Benefits</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#gallery">Gallery</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#testimonials">Testimonials</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <button class="header-btn" type="button">Order Now</button>
  </div>
  <div class="mobile-menu">
    <button class="mobile-menu-btn" type="button">
      <svg class="mobile-menu-btn-icon" width="24" height="24">
        <use href="/img/sprite.svg#close"></use>
      </svg>
    </button>

    <ul class="mobile-menu-list">
      <li class="mobile-menu-item">
        <a class="mobile-menu-link current" href="#about">About Us</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#benefits">Benefits</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#gallery">Gallery</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#testimonials">Testimonials</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#contacts">Contacts</a>
      </li>
    </ul>
    <button class="mobile-menu-order-btn" type="button">Order Now</button>
  </div>
</header>
