<header class="header" id="home">
  <div class="container">
    <div class="header-container">
      <a class="logo" href="./index.html">
        <img
          class="logo-img"
          src="./img/logo.svg"
          alt="Handmade Jewelry Logo"
          width="160"
          height="68"
        />
      </a>

      <button class="menu-btn" type="button" aria-label="Open menu">
        <svg class="menu-btn-icon" width="24" height="24">
          <use href="./img/sprite.svg#menu"></use>
        </svg>
      </button>

      <div class="header-desktop-block">
        <nav class="header-nav">
          <ul class="header-nav-list">
            <li class="header-nav-item">
              <a class="header-nav-link" href="#about">About us</a>
            </li>
            <li class="header-nav-item">
              <a class="header-nav-link" href="#benefits">Benefits</a>
            </li>
            <li class="header-nav-item">
              <a class="header-nav-link" href="#gallery">Gallery</a>
            </li>
            <li class="header-nav-item">
              <a class="header-nav-link" href="#testimonials">Testimonials</a>
            </li>
            <li class="header-nav-item">
              <a class="header-nav-link" href="#contacts">Contacts</a>
            </li>
          </ul>
        </nav>
        <a class="btn header-btn" href="#contacts">Order Now</a>
      </div>
    </div>
  </div>
</header>


