<section id="hero" class="hero container">
    <div class="hero-content">
        <div class="hero-wrapper">
            <h1 class="hero-title">Discover the Art of Handmade Jewelry</h1>
            <p class="hero-text">Each piece of our jewelry tells a story, crafted with love and care. Embrace the
                beauty of
                uniqueness and sustainability
                in every design.</p>
        </div>
        <a class="hero-btn" href="#contacts">Order Now</a>
    </div>
</section>
