<section id="testimonials" class="testimonials">
  <div class="container">
    <div class="heading-wrapper">
      <h2 class="h2">Customer testimonials</h2>
      <p class="sub-title">
        Absolutely love my new earrings! They are stunning.
      </p>
    </div>

    <ul class="testimonials-list">
      <li class="testimonials-row">
        <img
          class="testimonial-img"
          src="../img/testimonials-1.jpg"
          srcset="
            ../img/testimonials-1.jpg,
            ../img/testimonials-1.jpg@2x.jpg 2x
          "
          width="335"
          height="260"
          alt="Close-up portrait of a smiling woman in her late 20s, looking genuinely happy, wearing a delicate handmade ring on her finger. Soft, diffused natural light from a window, warm and inviting atmosphere, subtle background blur, authentic expression."
        />
        <img
          class="testimonial-img"
          src="../img/testimonials-2.jpg"
          srcset="
            ../img/testimonials-2.jpg,
            ../img/testimonials-2.jpg@2x.jpg 2x
          "
          width="335"
          height="260"
          alt="A candid shot of a man's face, slightly out of focus, as he admires a handmade pendant he's wearing. Soft, warm studio lighting, genuine look of appreciatio."
        />
        <div class="testimonial">
          <div class="top">
            <div class="rating" role="img" aria-label="4 out of 5 stars">
              <svg class="star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star-filled"></use>
              </svg>
              <svg class="star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star-filled"></use>
              </svg>
              <svg class="star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star-filled"></use>
              </svg>
              <svg class="star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star-filled"></use>
              </svg>
              <svg class="star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star-outline"></use>
              </svg>
            </div>
            <p class="testimonial-text">
              "Each piece tells a story, and I love mine!"
            </p>
          </div>
          <p class="testimonial-author">Thomas Mans</p>
        </div>
      </li>

      <li class="testimonials-row">
        <div class="testimonial">
          <div class="top">
            <div class="rating" role="img" aria-label="5 out of 5 stars">
              <svg class="star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star-filled"></use>
              </svg>
              <svg class="star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star-filled"></use>
              </svg>
              <svg class="star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star-filled"></use>
              </svg>
              <svg class="star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star-filled"></use>
              </svg>
              <svg class="star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star-filled"></use>
              </svg>
            </div>
            <p class="testimonial-text">
              "The craftsmanship is exquisite, and I feel unique wearing it."
            </p>
          </div>
          <p class="testimonial-author">Jane Edison</p>
        </div>
        <img
          class="testimonial-img"
          src="../img/testimonials-3.jpg"
          width="335"
          height="260"
          srcset="
            ../img/testimonials-3.jpg,
            ../img/testimonials-3.jpg@2x.jpg 2x
          "
          alt="An overhead shot of a person's hands holding a cup of coffee, with a handmade bracel"
        />
        <img
          class="testimonial-img"
          src="../img/testimonials-4.jpg"
          srcset="
            ../img/testimonials-4.jpg,
            ../img/testimonials-4.jpg@2x.jpg 2x
          "
          width="335"
          height="260"
          alt="Close-up studio shot of a diverse person's hands delicately holding and examining a handmade ring, natural lighting, soft focus on the ring's details, genuine and relaxed atmosphere."
        />
      </li>
    </ul>
  </div>
</section>
