.jewelry-artistry {
    max-width: 375px;
    padding: 56px 20px;
}

.container.jewelry-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.jewelry-img {
    object-fit: cover;
}

.jewelry-content {
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.jewelry-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section-title {
    font-size: 36px;
    color: #000000;
}

.section-description {
    font-size: 18px;
    line-height: 1.5;
    color: #333333;
}

.priorities-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.priority-item {
    gap: 8px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}

.priority-item::before {
    content: "";
    display: inline-block;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-leaf::before {
    background-image: url(../img/leaf.svg)
}

.icon-heart::before {
    background-image: url(../img/donate-heart.svg)
}

.icon-book::before {
    background-image: url(../img/book.svg)
}

@media screen and (min-width: 768px) {
    .jewelry-artistry {
        min-width: 768px;
        padding: 112px 32px;
    }

    .container.jewelry-container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
    }

    .jewelry-image-thumb {
        width: 100%;
        gap: 32px;
    }

    .jewelry-content {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}

@media screen and (min-width: 1440px) {
    .jewelry-artistry {
        min-width: 1440px;
        padding: 112px 64px;
    }

    .container.jewelry-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 32px;
    }

    .jewelry-image-thumb {
        flex-basis: calc((100% - 32px) / 2);
    }

    .jewelry-content {
        display: flex;
        flex-direction: column;
        flex-basis: calc((100% - 32px) / 2);
    }

    .section-title {
        font-size: 48px;
    }

    .section-description {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5;
    }

    .priority-item {
        gap: 8px;
    }
}