.benefits {}

.container {}

.benefits-title {}

.benefits-list {}

.benefits-item {
    display: inline-block;
    width: 100%;
    max-width: 335px;
    height: auto;
    padding: 32px 12px;
    background-color: #F2F2F2;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.benefits-subtitle {}

.benefits-text {}