.gallery-title {
  font-size: 36px;
  text-align: center;
}
.gallery-description {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0%;
  text-align: center;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-images {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 64px;
  padding-bottom: 64px;
}
.gallery-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.gallery-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  margin-bottom: 40px;
}
.gallery-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 768px) {
  .gallery-text {
    margin-bottom: 80px;
  }
  .gallery-list {
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    height: 626px;
    width: 704px;
  }

  .gallery-item {
    width: calc((100% - 24px) / 2);
    position: absolute;
  }

  .gallery-item > img {
    object-fit: cover;
    width: 100%;
    overflow: hidden;
  }

  .gallery-item:nth-child(1) {
    height: 368px;
    width: 340px;
    top: 0;
    left: 0;
  }
  .gallery-item:nth-child(2) {
    width: 340px;
    height: 226px;
    bottom: 0;
    left: 0;
  }
  .gallery-item:nth-child(3) {
    height: 216px;
    width: 340px;
    top: 0;
    right: 0;
  }
  .gallery-item:nth-child(4) {
    height: 386px;
    width: 340px;
    bottom: 0;
    right: 0;
  }
}
@media (min-width: 1440px) {
  .gallery-title {
    font-size: 48px;
  }
  .gallery-text {
    margin-bottom: 80px;
  }

  .gallery-list {
    height: 1098px;
    width: 1312px;
  }

  .gallery-item {
    width: calc((100% - 32px) / 2);
  }

  .gallery-item:nth-child(1),
  .gallery-item:nth-child(4) {
    height: 640px;
    width: 640px;
  }
  .gallery-item:nth-child(2),
  .gallery-item:nth-child(3) {
    width: 640px;
    height: 426px;
  }
}
